@using System.Configuration;

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/site.css" rel="stylesheet" />
    @*<link href="~/content/stylesheet.css" rel="stylesheet" />*@
    @*<link href="~/content/select2.min.css" rel="stylesheet" />
        <link href="~/content/metismenu.min.css" rel="stylesheet" />*@
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <title>Site de Gestión de la Tecnología y Obsolescencia</title>

    <!-- Bootstrap table -->
    @Styles.Render("~/Content/bootstrap-table.min.css")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @Scripts.Render("~/Scripts/bootstrap-table.min.js")
    @Scripts.Render("~/Scripts/util.js")
    <script src="~/app/common.js?v=3.0.0"></script>
    <script>
            var URL_LOGIN_SERVER = '@Url.Content("~/Login")';
            var URL_API = "@BCP.CVT.Cross.Utilitarios.URL_API";
            var REGISTRO_PAGINACION = "10";
        var OPCIONES_PAGINACION = "[10,20,30]";

        var OPCIONES_PAGINACION_ALT = "[30,60,90]";
            USUARIO = getCache(NAME_CACHE_USUARIO);

    </script>

    <style>
        .leyendaTecnologia {
            font-weight: bold;
            font-size: 14px;
        }

        #tblTecnologiaEstandar td.vigenteClass, a.vigenteClass:link, a.vigenteClass:visited, a.vigenteClass:hover {
            color: #7ddc67;
        }

        #tblTecnologiaEstandar td.deprecadoClass, a.deprecadoClass:link, a.deprecadoClass:visited, a.deprecadoClass:hover {
            color: #ccbf15;
        }

        #tblTecnologiaEstandar td.obsoletoClass, a.obsoletoClass:link, a.obsoletoClass:visited, a.obsoletoClass:hover {
            color: #dc6967;
        }
    </style>
    <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
</head>
<body>
    <div class="form-group">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-12">
                <div class="row">
                    <h3><strong>Estándares de tecnologías</strong></h3>
                </div>
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-search">
                                <fieldset class="fieldset">
                                    <legend class="legend">Filtro de búsqueda</legend>
                                    <div class="card-search-box">
                                        <form action="javascript:void(0);">
                                            <div class="row gutter-xs form-group">
                                                <div class="col-xs-3 col-md-3">
                                                    <div class="text-left" data-toggle="match-height">
                                                        <h5>Dominio: </h5>
                                                        <select id="cbFilDom" name="cbFilDom" class="form-control" multiple="multiple"></select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 col-md-3">
                                                    <div class="text-left" data-toggle="match-height">
                                                        <h5>Subdominio: </h5>
                                                        <select id="cbFilSub" name="cbFilSub" class="form-control" multiple="multiple"></select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 col-md-3">
                                                    <div class="text-left" data-toggle="match-height">
                                                        <h5>&nbsp;</h5>
                                                        <div class="btn-group" role="group">
                                                            <button id="btnBuscar" type="button" class="btn btn-primary">Buscar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 col-md-3">
                                                    <div class="text-left" data-toggle="match-height">
                                                        <h5>&nbsp;</h5>
                                                        <div class="btn-group" role="group">
                                                            <button id="btnExportar" type="button" class="btn btn-default">Exportar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table">
                        <tr>
                            <td colspan="1" style="font-weight: bold;text-align: center;vertical-align: top;font-size: 14px;">LEYENDA:</td>
                            <td colspan="4">
                                <p style="color: #7ddc67;" class="leyendaTecnologia">Vigente: Se debe usar en migraciones y nuevas implementaciones</p>
                                <p style="color: #ccbf15;" class="leyendaTecnologia">Deprecado/Excepción: Solo para necesidades puntuales de crecimiento por Estabilidad Operativa o Vegetativo Critico (usarlo exige excepcion)</p>
                                <p style="color: #dc6967;" class="leyendaTecnologia">Obsoleto/En salida: No se debe usar éste SW bajo ninguna circunstancia y se debe hacer planes de migración a versiones vigentes</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <table id="tblTecnologiaEstandar" class="table">
                                    <thead>
                                        <tr>
                                            <th data-field="DominioNomb" data-halign="center" data-valign="middle" data-align="left" data-width="100">Dominio</th>
                                            <th data-field="SubdominioNomb" data-halign="center" data-valign="middle" data-align="left" data-width="100">Subdominio</th>
                                            <th data-field="TecnologiaVigenteStr" data-halign="center" data-valign="middle" data-align="center" data-width="360" class="vigenteClass">Vigente</th>
                                            <th data-field="TecnologiaDeprecadoStr" data-halign="center" data-valign="middle" data-align="center" data-width="360" class="deprecadoClass">Deprecado</th>
                                            <th data-field="TecnologiaObsoletoStr" data-halign="center" data-valign="middle" data-align="center" data-width="360" class="obsoletoClass">Obsoleto</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <!--Modal Add or Edit-->
    <div id="mdAddOrEditRegistro" tabindex="-1" role="dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="title-form">Detalle Tecnología Estandar</h4>
                </div>
                <div class="modal-body">
                    <form id="formAddOrEditRegistro">
                        <div class="form-group">
                            <label class="control-label">Url Confluence: </label>
                            <input id="txtUrlConfluence" name="txtUrlConfluence" class="form-control" type="text" disabled>
                            <input type="hidden" name="hdRegistroId" id="hdRegistroId" value="0" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Equipo de administración y punto de contacto: </label>
                            <input id="txtEquipoAdm" name="txtEquipoAdm" class="form-control" type="text" disabled>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Grupo de soporte en REMEDY: </label>
                            <input id="txtGrupoRemedy" name="txtGrupoRemedy" class="form-control" type="text" disabled>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Add or Edit-->
    <script src="~/Scripts/jqueryUI/jquery-ui.min.js"></script>
    @*<script src="~/scripts/peity.min.js"></script>*@
    <script src="~/scripts/jquery.matchheight-min.js"></script>
    <script src="~/scripts/metismenu.min.js"></script>
    <script src="~/scripts/jquery.slimscroll.min.js"></script>
    <script src="~/scripts/select2.min.js"></script>
    <script src="~/scripts/js/application.js"></script>
    @Scripts.Render("~/Scripts/bootbox.min.js")
    @Scripts.Render("~/Scripts/bootbox.locales.min.js")
    @Scripts.Render("~/Scripts/bootbox.all.js")
    @Scripts.Render("~/Scripts/locale/bootstrap-table-es-SP.min.js")
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/app/tecnologiaEstandarVista.js?v=1.2.2"></script>
</body>
</html>
